{% extends 'base_navbar.html' %}
{% load static from staticfiles %}
{% block title %}天天生鲜-商品详情{% endblock title %}
{% block body_content %}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{{ sku.image.url }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ sku.name }}</h3>
			<p>{{ sku.desc }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ sku.price }}</em></span>
				<span class="show_unit">单  位：{{ sku.unite }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" sku_stock="{{ sku.stock }}" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>16.80元</em></div>
            <em>其他规格：</em>
            {% for same_spu_sku in same_spu_skus %}
                <a href="{% url 'goods:detail' same_spu_sku.id %}"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ same_spu_sku.name }}</em></a>
            {% endfor %}

			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" sku_id="{{ sku.id }}" id="add_cart">加入购物车</a>

            </div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for new_sku in new_skus %}
					<li>
						<a href="{% url 'goods:detail' new_sku.id %}"><img src="{{ new_sku.image.url }}"></a>
						<h4><a href="{% url 'goods:detail' new_sku.id %}">{{ new_sku.name }}</a></h4>
						<div class="prize">￥{{ new_sku.price }}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
            {% csrf_token %}
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>

                {% for order_sku in order_skus %}
                    <li style="display: none"><em>评论</em>
                        <dl>
					        <dt>评论时间：{{ order_sku.create_time }}</dt>
					        <dd>{{ order_sku.comment }}</dd>
				        </dl>
                    </li>
                {% endfor %}
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd> {{ sku.desc }}</dd>
				</dl>
			</div>
		</div>
	</div>

{% endblock body_content %}
{% block bottom_load_js %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript">
        $(function () {
            var $add_x = $('#add_cart').offset().top;
            var $add_y = $('#add_cart').offset().left;
            var csrf = $("input[name='csrfmiddlewaretoken']").val();
            var $to_x = $('#show_count').offset().top;
            var $to_y = $('#show_count').offset().left;


            $('#add_cart').click(function(){
                //加入购物车点击事件
                var sku_id = $(this).attr('sku_id');
                var sku_count = $('.num_show').val();

                params = {
                    'csrfmiddlewaretoken':csrf,
                    'sku_id' : sku_id,
                    'sku_count' : sku_count,
                }
                $.post('{% url 'cart:add_cart' %}',params,function (data) {
                    if(data.res == 5){
                        //请求成功，上动画
                        $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});
                        $(".add_jump").stop().animate({
                        'left': $to_y+7,
                        'top': $to_x+7},
                        "fast", function() {
                            $(".add_jump").fadeOut('fast',function(){
                                $('#show_count').html(data.goods_count);
                            });
                        });
                    }else{
                        //请求失败,弹提示
                        alert(data.errmsg);
                    }
                });


            });

            // 加号点击事件
            $('.num_add .add').click(function () {
                var count = parseInt($(this).prev().val());
                var stock = $(this).prev().attr('sku_stock');
                if (stock > count){
                    count += 1;
                }
                $(this).prev().val(count);
            })
            // 减号点击事件
            $('.num_add .minus').click(function () {
                var count = parseInt($(this).prevAll('input').val());
                if (count > 1){
                    count -= 1;
                }
                $(this).prevAll('input').val(count);
            });

            var prev_count = 0;
            			// 输入框获取焦点事件
            $('.num_add .num_show').focus(function () {
                prev_count = $(this).val();
            });

            // 输入框失去焦点事件
            $('.num_add .num_show').blur(function () {
                var input_count = parseInt($(this).val()),
                stock = $(this).attr('sku_stock');
                if (input_count < 1 || input_count > stock || input_count == prev_count){
                    $(this).val(prev_count);
                }else{
                    $(this).val(input_count);
                }
            });

        })

	</script>
	{% endblock bottom_load_js %}
